<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="display" routerLinkActive="active" class="nav-link">List of Expenses</a>
        </li>
        <li class="nav-item">
            <a routerLink="addExpense" routerLinkActive="active" class="nav-link">Add Expense</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">The Expense Tracker App</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>

